fastapi
uvicorn


#for template  #new
jinja2 

#for static files
aiofiles

#for database
sqlalchemy
psycopg2-binary

#for load env variables from .env file
python-dotenv

#for email validation     
pydantic[email] 